extends layout
block head
  link(rel="stylesheet", href="/assets/styleAdmin.css")
block content
    .card.text-center
        .card-header
          .btn-group
            a.btn.btn-primary.active(href='#' ) Прайс
            a.btn.btn-primary(href='#') Прошлые работы
        .card-body.mx-auto.w-50
            form.changes-new-or-old
                .mb-3
                    label.form-label Название 
                    input.form-control(type='text'  name="name")
                .mb-3
                    label.form-label Стоимость 
                    input.form-control(type='text'  name="price")
                .d-flex.justify-content-center(name="formBtn")
                    a(href="/fitisova/admin").btn.btn-primary.card-body-news-CRUD__button-back.mr-3.float-left(type='submit') ← назад 
                    button.btn.btn-primary.float-left(type='submit' name="formBtn" data-type='add' data-url="/fitisova/admin/priceAdd" ) Отправить
                        
                        


block footer
  script(src="/assets/vendor.js")
  script(src="/assets/admin.js")