extends layout
block head
  link(rel="stylesheet", href="/assets/styleAdmin.css")
block content

  .card.text-center
        .card-header
          .btn-group
            a.btn.btn-primary(href='/fitisova/admin' ) Прайс
            a.btn.btn-primary(href='/fitisova/admin/works') Прошлые работы
            a.btn.btn-primary(href='/fitisova/admin/users') Заявки
            a.btn.btn-primary.active(href='/fitisova/admin/promotions') Акции
        .card-body.mx-auto.w-100
            .changes
                table.table
                    thead
                        tr
                        th(scope='col') id акции
                        th(scope='col') Описание
                        th(scope='col') Действия
                    tbody
                        each val in promotions
                            tr.changes__row
                                th #{val.id} 
                                th #{val.description}
                                td
                                  form.button-form 
                                      //- button.btn.btn-danger.mr-1.delete-entity-button(type='button' name="deleteEntity" data-url-entity='/fitisova/admin/price/delite' data-id-entity=val.id ) Удалить
                                      button.btn.btn-warning(type='button' name="updateEntity" data-url-entity='/fitisova/admin/promotions/update' data-id-entity= val.id data-name=val.name) Редактировать


block footer
  script(src="/assets/vendor.js")
  script(src="/assets/admin.js")