extends layout
block head
  link(rel="stylesheet", href="/assets/styleAdmin.css")
block content
    .card.text-center
        .card-header
          .btn-group
            a.btn.btn-primary(href='#' ) Прайс
            a.btn.btn-primary(href='/fitisova/admin/users') Прошлые работы
            a.btn.btn-primary(href='/fitisova/admin/users') Заявки
            a.btn.btn-primary.active(href='/fitisova/admin/promotions') Акции
        .card-body.mx-auto.w-50
            form.changes-new-or-old
                .mb-3
                    label.form-label Описание 
                    input.form-control(type='text'  name="description" value=result.description)
                .d-flex.justify-content-center(name="formBtn")
                    a(href="/fitisova/admin").btn.btn-primary.card-body-news-CRUD__button-back.mr-3.float-left(type='submit') ← назад 
                    button.btn.btn-primary.float-left(type='submit' name="formBtn" data-type='update' data-url="/fitisova/admin/promotions/update" data-id=result.id) Отправить
                        
                        


block footer
  script(src="/assets/vendor.js")
  script(src="/assets/admin.js")