@import "./utils/wrap.scss";
@import "./utils/m.scss";
@import "./utils/p.scss";
@import 'swiper/swiper-bundle.css';
@import "./mixin-adaptiv.scss";
@import "./block/header.scss";
@import "./block/hamburger.scss";
@import "./block/order.scss";
@import "./block/button.scss";
@import "./block/past-works.scss";
@import "./block/footer.scss";
@import "./block/map.scss";
@import "./block/map-info.scss";
@import "./block/price.scss";
@import "./block/stages.scss";
@import "./block/popup.scss";







* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;

    @include _768{
        overflow-x: hidden;
    }
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #373737;
}