.past-works {
    background: #F5F5F5;
    ;

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 765px;
        text-align: center;
        align-items: center;
        height: 455px;
        padding-top: 120px;
    }

    &__img {
        max-width: 100px;
        height: 100px;
        margin-bottom: 68px;
    }

    &__text-header {
        font-size: 60px;
        line-height: 69px;
        text-align: center;
        color: #333333;

        &_primary {
            color: #DF9896;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #333333;
        margin-top: 50px;
        margin-bottom: 52px;
    }

    &__imgs {
        display: block;
        margin: 0 auto;
        margin-top: 52px;
    }

    &__imgs-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1700px;
        margin: 32px auto;

        &_acardeon {
            display: none;
        }
    }

    &__imgs-item {
        &_medium {
            max-width: 550px;
            height: 410px;
        }

        &_small {
            max-width: 400px;
            height: 420px;
        }
    }

    &__imgs-btn {
        max-width: 220px;
        font-family: Arial;
        margin: 73px auto 0;
        padding-bottom: 70px;
    }

    @include _1200 {
        &__imgs-item_small {
            max-width: 300px;
            height: 320px;
            margin-top: 60px;

            &:last-child {
                display: none;
            }
        }

        &__imgs-container:last-child {
            margin: 0 auto;
        }

        &__imgs-container {
            justify-content: space-around;
        }
    }

    @include _768 {
        &__imgs-item_small {
            max-width: 300px;
            height: 320px;
            margin-top: 60px;

            &:last-child {
                display: block;
            }
        }
    }
}