.popup {
    color: #333;

    &__text {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #333333;
        max-width: 560px;
        padding: 84px 110px 73px;
        @include _768{
        padding: 84px 20px 73px;
        }
    }

    &__btn {
        padding: 15px 40px;
        color: #DF9896;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: block;
        margin: 16px auto;
    }
}

.inputPhone {
    width: 350px;
    height: 46px;
    font-size: 16px;
    line-height: 20px;
    background: #F4F4F4;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto 16px;
    padding-left: 12px;
}

.inputFIO {
    width: 350px;
    height: 46px;
    font-size: 16px;
    line-height: 20px;
    background: #F4F4F4;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto 16px;
    padding-left: 12px;
}

.popup-select {
    // width: 350px;
    height: 46px;
    font-size: 16px;
    line-height: 20px;
    background: #F4F4F4;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto 16px;
    padding-left: 12px;
}

.popup-fade {
    display: none;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup {
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 20px;
    max-width: 770px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}