.stages{

    &__header{
        display: flex;
        flex-direction: column;
        max-width: 463px;
        text-align: center;
        align-items: center;
        margin: 154px auto 0;
    }

    &__wrap {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__img{
        max-width: 250px;
        // margin-left: 32px;
        cursor: pointer;
    }
}