section.footer
    a(name="footer") 
    .wrap
        .footer__container
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary НАШИ КОНТАКТЫ
            p.past-works__text-header МЫ НА КАРТЕ
        #map
        .map-info 
            ul.map-info__info 
                li.map-info__info-item
                    img(src="./images/way 1.png", alt="").map-info__img
                    .map-info__info-content.ml-2
                        p.map-info__info-header Адрес
                        .map-info__line
                        p.map-info__info-text г. Ростов-на-Дону пр. Стачки д. 7
                li.map-info__info-item
                    img(src="./images/phone-call 1.png", alt="").map-info__img
                    .map-info__info-content.ml-2
                        p.map-info__info-header Позвонить
                        .map-info__line
                        p.map-info__info-text +7 (951) 523-00-19 
                li.map-info__info-item
                    img(src="./images/clock 1.png", alt="").map-info__img
                    .map-info__info-content.ml-2
                        p.map-info__info-header Время работы
                        .map-info__line
                        p.map-info__info-text с 9:00 до 20:00
    .footer__info
        .wrap.footer__info-content
            p.footer__info-text Nails 2021 © Все права защищены
            a(href="https://vk.com/alisa.nail") 
                img(src="./images/vk 1.png", alt="").footer__info-img


