extends layout
block head
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")
  meta(name='description' content='')
  meta(name='Keywords' content='')
  script(src="https://api-maps.yandex.ru/2.1/?apikey=26747147-d36c-4310-87e9-744327f93bf4&size=450,150&lang=ru_RU" type="text/javascript")
block content
  section.header 
    a(name="past-works") 
    .wrap.header__content 
      img(src="./images/logo.png", alt="", srcset="").header__logo
      ul.header__list 
        li.header__list-item.mr-4
          a(href="#past-works") НАШИ РАБОТЫ
        li.header__list-item.mr-4
          a(href="#price") ПРАЙС
        li.header__list-item
          a(href="#footer")  КОНТАКТЫ

      .hamburger
        .hamburger__line-container
            span.hamburger__line
            span.hamburger__line.span.hamburger__line_midl
            span.hamburger__line


    .wrap.header__content-mobil 
      ul.header__list.header__list_mobile 
        li.header__list-item.header__list-item_mobile
          a(href="#") НАШИ РАБОТЫ
        li.header__list-item.header__list-item_mobile
          a(href="#") ПРАЙС
        li.header__list-item.header__list-item_mobile
          a(href="#")  КОНТАКТЫ

  include order
  include past-works
  include price
  include stages
  include footer



  

block footer
      script(src="/assets/vendor.js")
      script(src="/assets/app.js")