extends layout
block head
  title Nails
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")
  meta(name='description' content='Оказание услуг маникюра и педикюра по хоршему соотношению цена качества')
  meta(name='Keywords' content='ногти,маникюр,педикюр,nails')
  link(rel='shortcut icon' href='./images/icon.png' type='image/png')
  script(src="https://api-maps.yandex.ru/2.1/?apikey=26747147-d36c-4310-87e9-744327f93bf4&size=450,150&lang=ru_RU" type="text/javascript")
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(80084650, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/80084650' style='position:absolute; left:-9999px;' alt='')
block content
  section.promotions
    span.promotions__close ❌
    p.promotions__text #{promotions.description}
  section.header 
    .wrap.header__content 
      img(src="./images/logo.png", alt="", srcset="").header__logo
      ul.header__list 
        li.header__list-item.mr-4
          a(href="#past-works") НАШИ РАБОТЫ 
        li.header__list-item.mr-4
          a(href="#price") ПРАЙС
        li.header__list-item
          a(href="#footer")  КОНТАКТЫ

      .hamburger
        .hamburger__line-container
            span.hamburger__line
            span.hamburger__line.span.hamburger__line_midl
            span.hamburger__line


    .wrap.header__content-mobil 
      ul.header__list.header__list_mobile 
        li.header__list-item.header__list-item_mobile
          a(href="#past-works") НАШИ РАБОТЫ
        li.header__list-item.header__list-item_mobile
          a(href="#price") ПРАЙС
        li.header__list-item.header__list-item_mobile
          a(href="#footer")  КОНТАКТЫ

  include order
  include past-works
  include price
  include stages
  include footer



  

block footer
      script(src="/assets/vendor.js")
      script(src="/assets/app.js")