section.order
    .wrap.order__content 
      .order__headers 
        i Nails Studio
      .order__text 
        p Профессиональная работа и лучшее качество
      .order__button
        button.button.popup-open ЗАПИСАТЬСЯ 

    include popup