section.past-works
    .wrap.past-works__content
        .past-works__info
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary НАША РАБОТА
            p.past-works__text-header ВАШИ РУКИ
            p.past-works__text Мы имеем лучшее сооношении гармонии, красоты, все виды ногтевого сервиса а самое главное,  нам доверяют и благодаря нашим клиентам получаются такие замечательные работы