section.past-works
    
    .wrap.past-works__content
        .past-works__info
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary НАША РАБОТА
            p.past-works__text-header ВАШИ РУКИ
            p.past-works__text Мы имеем лучшее соотношение гармонии и красоты. Все виды ногтевого сервиса, а самое главное-нам доверяют, и благодаря нашим клиентам получаются такие замечательные работы.
    a(name="past-works") 
    .past-works__imgs 
        .past-works__imgs-container 
            each val in workStaticOne
                img(src=val.imgSrc, alt="").past-works__imgs-item.past-works__imgs-item_small
        .past-works__imgs-container.past-works__imgs-container_acardeon 
            each val in workDinamick
                img(src=val.imgSrc, alt="").past-works__imgs-item.past-works__imgs-item_small.mt-10
    .past-works__imgs-btn
        button.button.button_darck СМОТРЕТЬ БОЛЬШЕ 