section.past-works
    a(name="past-works") 
    .wrap.past-works__content
        .past-works__info
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary НАША РАБОТА
            p.past-works__text-header ВАШИ РУКИ
            p.past-works__text Мы имеем лучшее сооношении гармонии, красоты, все виды ногтевого сервиса а самое главное,  нам доверяют и благодаря нашим клиентам получаются такие замечательные работы
    .past-works__imgs 
        .past-works__imgs-container 
            img(src="./images/worck_1.png", alt="").past-works__imgs-item.past-works__imgs-item_medium
            img(src="./images/worck_2.png", alt="").past-works__imgs-item.past-works__imgs-item_medium
            img(src="./images/worck_3.png", alt="").past-works__imgs-item.past-works__imgs-item_medium
        .past-works__imgs-container
            img(src="./images/worck_7.jpg", alt="").past-works__imgs-item.past-works__imgs-item_small
            img(src="./images/worck_8.jpg", alt="").past-works__imgs-item.past-works__imgs-item_small
            img(src="./images/worck_9.jpg", alt="").past-works__imgs-item.past-works__imgs-item_small
            img(src="./images/worck_10.jpg", alt="").past-works__imgs-item.past-works__imgs-item_small
    .past-works__imgs-btn
        button.button.button_darck СМОТРЕТЬ БОЛЬШЕ 