.popup-fade
      .popup
        a.popup-close(href='#') ❌
        p.popup__text Для записи на ногти вы можете оставить заявку и вам перезвонят для уточнение даты и времени
        input(type="text" placeholder="+7 (999) 999-99-99").inputPhone

        input(type="button" value="Записаться →").popup__btn 