section.price
    a(name="price") 
    .wrap
        .price__header
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary ПРАЙС
            p.past-works__text-header ЛИСТ
        .price__container 
            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр и покрытие гель лаком
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р

            .price__item 
                img(src="./images/price_icon.png", alt="").price__item-img
                .price__item-text
                    p.price__item-name Маникюр
                    p.price__item-price 500 р