section.stages
    .wrap
        .stages__header
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary ЭТАПЫ РАБОТЫ
            p.past-works__text-header В 4 ШАГА

        .stages__steps
            .stages__steps-content
                img(src="./images/step_1.png", alt="").stages__steps-img

            img(src="./images/next.png", alt="").stages__steps-img_next

            .stages__steps-content
                img(src="./images/step_2.png", alt="").stages__steps-img

            img(src="./images/next.png", alt="").stages__steps-img_next

            
            .stages__steps-content
                img(src="./images/step_3.png", alt="").stages__steps-img

            img(src="./images/next.png", alt="").stages__steps-img_next

            .stages__steps-content
                img(src="./images/step_4.png", alt="").stages__steps-img