section.stages
    .wrap
        .stages__header
            img(src="./images/logo_mini.png", alt="", srcset="").past-works__img
            p.past-works__text-header.past-works__text-header_primary НАШИ СЕРТИФИКАТЫ
        .stages__wrap
            a(href="./images/sertificat1.jpg" target="_blank" ) 
                img(src="./images/sertificat1.jpg", alt="").stages__img
            a(href="./images/sertificat2.jpg" target="_blank" ) 
                img(src="./images/sertificat2.jpg", alt="").stages__img
